PORT=8080
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/technik_db?schema=public"
JWT_SECRET="your_jwt_secret_key"
CSRF_SECRET="your_csrf_secret_key"
COOKIE_DOMAIN="localhost"
COOKIE_SECURE=false
